
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
}


h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    font-weight: 200;
    height: 10px;
    text-align: center;
    padding-top: 60px;
    color: white;
    transition: 0.3s;
}

h1:hover{
    font-size: 2.03em;
    transition: 0.3s;
}

header{
    flex-direction: row-reverse;
    align-items: center;
    display: flex;
    background-color: transparent;
    backdrop-filter: blur(30px);
    width: 100%;
    height: 50px;
    border-bottom: solid 1px rgba(255, 255, 255, 0);
    box-shadow: 0px -1px 9px rgba(0, 0, 0, 0.185);
}

nav{
    padding-right: 30px;
}

nav a{
    color: white;
    text-decoration: none;
    padding-right: 10px;
}

main {
    width: 100%;
    height: 100vh;
    
    background-image: url(Project\ Name.png);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
    

}


.box1 {
    display: flex;
    background-color: transparent;
    width: 300px;
    height: 274px;
    margin: auto;
    border: 0.1px solid rgba(255, 255, 255, 0.274);
    border-radius: 15px;
    backdrop-filter: blur(15px);
    box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.26);
    
    margin-top: 75px;
}

.miniTitulo {
    font-size: 0.8em;
    height: 20px;
    color: rgba(255, 255, 255, 0.78);
    margin-left: 25px;
    margin-top: 20px;    
}

.miniTitulo-email{
    font-size: 0.8em;
    height: 20px;
    color: rgba(255, 255, 255, 0.781);
    margin-left: 25px;
    margin-top: 30px;    
}

input{
    background-color: white;
    outline: none;
    border: none;
    width: 250px;
    height: 30px;
    margin-left: 10px;
    margin-top: 2px;
    padding-left: 15px;
    border-radius: 20px;
    
}



div{
    display: flex;
    flex-direction: column;
}

.esqueceu-senha{
    font-weight: lighter;
    padding-left: 25px;
    margin-top: 3px;
    font-size: 0.8em;
    color:#d2a1ff;
    align-self: flex-start;
}

.esqueceu-senha:hover{
    text-decoration: underline;
}


button {
    width: 200px;
    height: 40px;
    background-color: #8400ff;
    border: none;
    align-self: center;
    margin-top: 26px;
    margin-bottom: 10px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

button:hover{
    color: #8400ff;
    background-color: white;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.247);
}

.naopossui{
    color: white;
    text-align: center;
    font-weight: lighter;
    font-size: 0.8em;
    margin-top: 0px;
    margin-bottom: 10px;
}

.inscreva-se{
    margin-top: 0px;
    margin-bottom: 8px;
}

.linkInscreva-se{
    color: white;
    font-weight: 400;
    text-decoration: none;
}

.linkInscreva-se:hover{
    color: #b05bff;
}

.code-section{
    display: flex;
    justify-content: center;
    flex-direction: row;   
}

.code-area{
    display: flex;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 380px;
    height: 400px;

    align-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.11);
    border: solid 0.1px rgba(255, 255, 255, 0.164);
}

.cabeçalho-area > h2{
    color: #ffffffc7;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1em;
    padding-top: 25px;
}

.cabeçalho-area > img{
    padding-top: 23px;
}

.code1{
    color: rgba(255, 255, 255, 0.856);
    padding: 10px 10px 10px 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.giticon{
    width: 20px;
    height: 20px;
    padding-top: 17px;
    padding-left: 4px;
    background-color: transparent;
}

.inside-code-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 55%;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 10px;
    border-radius: 0px 0px 0px 0px;
}

.cabeçalho-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustration{
    margin-top: 10px;
    width: 100%;
    height: 229px;
}

.github-link{
    color: #d2a1ff;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
}

.linkedin-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.linkedin-link{
    color: #d2a1ff;
    padding-top: 10px;
}

.chamada-linkedin{
    padding-top: 0px;
}

.linkedin-area a{
    color: #d2a1ff;
    text-decoration: none;
}

.linkedin-area h2{
    padding-top: 0px;
}

.linkedin-area img{
    padding-top: 0px;
}

.r {
    text-align: center;
    color: #d2a1ff;
    font-size: 0.7em;
    margin-top: 5px;
}